/* =CLEARFIX
----------------------------------------------- */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height:1%;
}
.clearfix {
    display: block;
}
.tg-after-three-blocks-clearfix {
    clear: both;
}

/*Body*/
body {
    background-color: white;
    margin: 0px;
    color: #363948;
}

/*Page*/

#page {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

/*Header*/
#header {
    max-width: 1200%;
    width: 100%;
    height: 90px;
    background-image: url('../images/proovime.png');
}
#header img {
    margin-top: 4px;
    height: 80px;
}
#header li {
    display: inline;
}
.nav-bar {
    margin-top: 32px;
    float: right;
}
.nav-bar a {
    text-decoration: none;
    color:#fff;
    padding: 12px 32px;
    border:2px solid #fff;
    border-radius:3px;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-left: 10px;
}

#header li a:hover,
#header li a:active {
    color: #0e83cd;
    background-color: #fff;
}
#header-inner {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
    background-image: url('../images/proovime.png');
}

/*Menu*/

.main {
    width: 66.6666%;
    float: left;
}
.leftnav {
    width: 33.3333%;
    float: left;
}
.leftnav ul {
    padding: 5px;
    margin: 0px;
    line-height: 40px;
    background-color: #c7e8e1;
}
.leftnav ul li {
    list-style: none;
    height: 40px;
    text-align: center;
    background-color: #47c9af;
    margin-bottom: 5px;
    cursor: pointer;
}
.leftnav ul li:hover{
    background-color: #98efdd;
}
.leftnav ul li a {
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
/*Home*/

.contentslider, .resultslider, .container {
    overflow: hidden;
    
}
.container {
    text-align: left;
    padding-bottom: 30px;
}
.custombtn1 {
    border-radius: 3px;
    display: block;
    border: 0;
    margin-top: 10px;
    height: 40px;
    text-align: center;
    background-color: #2ba3d4;
    cursor: pointer;
    color: white;
    line-height: 40px;
    width: 200px;
}
.custombtn1 > a {
    text-decoration: none;
    color: white;
    display: block;
}
.custombtn1:hover {
    background-color: #2ba3d4;
}
.left25 {
    float: left;
    margin-left: 25%;
}
.right25 {
    float: right;
    margin-right: 25%
}

#chartdiv {
    background-color: #c7e8e1;
}
/*faq*/
.question-container {
    margin-bottom: 5px;
    background-color: #ededed;
    text-align: left;
}
.question-container p, .question-container h4 {
    margin: 0;
    padding: 0;
}
.question{
    display: block;
    padding: 5px;
    border: 2px solid #47c9af;
    cursor: pointer;
    background-color: #47c9af;
    color: white;
}
.question + input {
    display: none;
}
.question + input + * {
    display: none;
}
.question + input:checked + * {
    display: block;
}

.answer {
    padding: 5px;
    border: 1px solid #47c9af;
    border-top: 0;
}


/*Profile*/

.profile {
    padding: 5px;
    text-align: left;
    border: 3px solid #47c9af;

}

.profile-top {
  width: 100%
}

.profile-image {
  width: 23%;
  float: left;
}

.profile-description {
  width:77%;
  float: right;
}

.profile-description h6,
.profile-info h6 {
  font-size: 15px;
  margin:0px 0px 10px 0;
}

.profile-description p,
.profile-info p {
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.profile-bottom {
  width:100%;
}

.profile-info {
  width: 100%;
}


.footer {
    background-color: #252525;
    text-align: center;
    color: #ddd;
    padding:8px 0;
}

/*Results*/

.result-charts {
    display: flex;
}

.result-charts div {
    width:100%;
    text-align: center;
}

#result-chart-left {
    float: left;
}

#result-chart-middle {
    margin:0 40px;
}

#result-chart-right {
    float: right;
}


.result-charts .protsent{
    font-size: 80px;
    color: #2ba3d4;
    margin: 0px;
}
#result-chart-table {
    width: 100%;
    text-align: left;
    margin: 0 10px;
}

/*Responsive media*/

@media only screen and (max-width: 40em) {
    #logo {
        text-align: center;
    }
    .nav-bar {
        float: none;
    }
    .nav-bar a {
        padding:12px 24px;
    } 

    #header img {
        margin-top: 4px;
        height: 60px;
}
 }

 .row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    margin: 0 -0.9375rem;
    max-width: none;
    width: auto; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      margin: 0;
      max-width: none;
      width: auto; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }
.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }

  @media only screen {
 
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }
}

@media only screen and (min-width: 40.0625em) {
 
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }
}

  
@media only screen and (min-width: 64.0625em) {

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }
}